<!DOCTYPE html>
<html>
    <head>
        <title>GitHub Artifacts</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/app.css" />
    </head>
    <body>

        <%- include('header.ejs') %>
        <button type="button" class="btn btn-outline-secondary" onclick="location.href = 'orgs'">Fetch Organizations</button>

    </body>
</html>