<!DOCTYPE html>
<html>
    <head>
        <title>GitHub Artifacts</title>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/app.css" />

    </head>
    <body>

        <% if(scope.orgs){ %>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Organizations
                </button>
                <ul class="dropdown-menu">
                    <% for(var i=0; i<scope.orgs.length; i++){ %>
                        <li class="dropdown-item" ><%= scope.orgs[i].login %></li>
                    <% } %>
                </ul>
              </div>
        
        <% }else{ %>
        
            <orgs>
                <button type="button" class="btn btn-primary">Fetch Organizations</button>
            </orgs>
        
        <% } %>

        <script src="../js/bootstrap.bundle.min.js"></script>

    </body>
</html>